.product-switch-sort {
  &__btn {
    padding-left: 0;
    &:hover, &:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      color: $primary;
    }
  }
  &__ico {
    width: 24px;
    height: 24px;
    fill: currentColor;
    margin-right: .125rem;
  }
}