.product-teaser {
  height: 100%;
  border-color: $gray-500;
  @include hover() {
    border-color: $primary;
  }

  &__image-cover {
    position: relative;
  }

  &__label {
    margin: .25rem 0;
    pointer-events: visible;
    &s {
      margin-bottom: .625rem;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      pointer-events: none;
    }
  }

  &__body {
    padding: $grid-gutter-width / 2;
  }

  &__title {
    color: $body-color;
    display: inline-block;
    padding-bottom: $grid-gutter-width / 2;
    line-height: 1.25;
    @include hover() {
      text-decoration: none;
    }
  }

  &__short {
    display: none;
    line-height: 1.25;
    color: $gray-500;
  }

  &__footer {
    padding: $grid-gutter-width / 2;
    background: none;
    border-top: none;
  }
}

.products-grid_list {
  .product-teaser {
    @include media-breakpoint-up(md) {
      flex-direction: row;

      &__body {
        padding: $grid-gutter-width / 2;
        @include media-breakpoint-up(xl) {
          padding: $grid-gutter-width;
        }
      }

      &__short {
        display: block;
      }

      &__footer {
        padding: $grid-gutter-width / 2;
        flex: 0 0 25%;
        @include media-breakpoint-up(xl) {
          padding: $grid-gutter-width;
          flex: 0 0 30%;
        }
      }
    }

    .catalog-image {
      @include media-breakpoint-up(md) {
        min-width: 208px;
      }
      @include media-breakpoint-up(xl) {
        min-width: 253px;
      }
    }

    .card-img-top {
      @include media-breakpoint-up(md) {
        @include border-top-radius(0);
        @include border-left-radius($card-inner-border-radius);
      }
    }
  }
}